/* Global */
:root {
    --azul-escuro: #363f5f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}
/* titles */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;
    font-weight: normal;
}
/* header */
header {
    width: 100%;
    text-align: center;
    background-color: rgb(9, 70, 9);
    padding: 2rem 0 10rem;
    height: 200px;
}

#logo {
    color: white;
    font-weight: 100;
}
/* balance */
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: white;
    margin-top: 0;
}

/* card */
.card {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--azul-escuro);
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}
.card.green {
    background-color: #49aa26;
    color: white;
}

/* table */
#dataTable {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}
table thead th:first-child,
table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
table tbody tr {
    opacity: 0.7;
}
table tbody tr:hover {
    opacity: 1;
}
table thead th {
    background-color: white;
    /* opacity: 0.6; */
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}
table tbody td {
    background-color: white;
    padding: 1rem 2rem;
}
td.description {
    color: var(--azul-escuro);
}
td.income {
    color: #12a454;
}
td.expense {
    color: #e92929;
}
/* footer */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--azul-escuro);
    opacity: 0.6;
}